/* @VARIABLES */
/* ********** */

// TAMAÑOS DISPOSITIVOS
$dispositivos: (
    smartphone: 360px,
    ipad: 768px,
    desktop: 1366px
);

$breakpoints: (
    smartphone: 320px,
    ipad: 768px,
    desktop: 1100px
);

// COLORES

$grises: (
   gris1: #EAE0D2,
   gris2: #D5CBBD,
   gris3: #A49A8B,
);

$azul: (
    twitter: #00acee,
    facebook:#3b5998,
);

$rojo:(
    youtube: #c4302b,
    today:#F2163A, 

);

$verde: (
    today: #3EBF44,
);

$instagram: (
    amarillo: #EBEE2D,
    lila: #AF2D72,

);

$fondoBlanco: (
    #EFE9E0,
);

// TAMAÑO LETRAS
$fontSize: 14px;
$fontTitle: 18px;
$fontSeguidores: 16px;
$fontToday: 10px;
$fontNumber: 40px;

//TIPOGRAFÍA
$fontFamily: "RobotoRegular"
$fontFamilyBold: "RobotoBold", sans-serif;
$fontFamilyThin: "RobotoThin", sans-serif;
$fontFamilyLight: "RobotoLight", sans-serif;
